.log {
  padding: 10px 0px;
}

.auth__form {
  background: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
}

.auth__btn {
  background: #fff !important;
  color: var(--primary-color);
  font-weight: 600;
  margin: auto;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
}

.auth__form p {
  margin-top: 10px;
}

.auth__form p a {
  color: rgba(255, 255, 255, 0.735);
}

.auth__form input[type="file"] {
  color: #fff;
  cursor: pointer;
}
.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
  padding-right: 40px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
}
.password-input {
  position: relative;
}

.password-input input {
  width: 100%;
  padding-right: 40px;
  /* Space for the icon */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary-color);
}
